#incorrectLetters {
    list-style-type: none;
}
#incorrectLetters li {
    float: left;
    margin: 0.5vw;
}

#spacesList {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 6vw;
}

#spacesList li {
    margin: 1vw;
    font-size: 5vw;
}

#keyboard {
    margin-top: 1vw;
    align-items: center;
    flex-wrap: wrap;
    margin-left: auto;
    text-align: center;
}

#keyboard button {
    width: 6.5vw;
    height: 6.5vw;
    margin: 0.1vw;
}
#guessParent {
    text-align: center;
    margin-top: 6.5vw;
}

@media only screen and (max-width: 1000px) {
    #keyboard button {
        width: 8vw;
        height: 10vw;
    }
    #keyboard {
        margin-top: 15vw;
    }
}

#alertBox {
    display:none;
    text-align: center;
}